:root {
    --white: #ffffff;
    --purple: #8133A6;
    --pink: #C99DDE;
    --black: #000000;
}

body{
    background-color: var(--pink);
}

.inputs p input, .inputs p select, .button, .result{
    border-color: var(--black);
}

.container, .inputs p input, .inputs p select, .button, .result{
    background-color: var(--white);
}

